<br>
<table class="tg" style="undefined;table-layout: fixed; width: 1138px">
  <colgroup>
    <col style="width: 464px">
    <col style="width: 279px">
    <col style="width: 95px">
    <col style="width: 180px">
    <col style="width: 120px">
  </colgroup>
  <tr>
    <th class="tg-c3ow">←　2018年04月　時間管理表　→<br></th>
    <th class="tg-c3ow">指定勤務時間　8.00</th>
    <th class="tg-c3ow" colspan="2">7.50　基本時間　</th>
    <th class="tg-c3ow">初日　04/01</th>
  </tr>
  <tr>
    <td class="tg-c3ow">所属</td>
    <td class="tg-c3ow">氏名　Soichi</td>
    <td class="tg-uys7">　コード　</td>
    <td class="tg-uys7">出勤日数　0日</td>
    <td class="tg-uys7">締め　04/31</td>
  </tr>
</table>
<br><br>

<%= link_to "勤怠を編集", 'edit' %>

<br><br>
<table class="tg t-line" style="undefined;table-layout: fixed; width: 1137px">
  <colgroup>
    <col style="width: 83px">
    <col style="width: 83px">
    <col style="width: 62px">
    <col style="width: 62px">
    <col style="width: 167px">
    <col style="width: 52px">
    <col style="width: 52px">
    <col style="width: 21px">
    <col style="width: 123px">
    <col style="width: 67px">
    <col style="width: 130px">
    <col style="width: 235px">
  </colgroup>
  <tr>
    <th class="tg-c0l1" rowspan="2">日付</th>
    <th class="tg-c0l1" rowspan="2">曜日</th>
    <th class="tg-c0l1" colspan="3">出社</th>
    <th class="tg-c0l1" colspan="3">退社</th>
    <th class="tg-c0l1" rowspan="2">在社時間</th>
    <th class="tg-c0l1" rowspan="2">備考</th>
    <th class="tg-c0l1" rowspan="2">残業指示</th>
    <th class="tg-c0l1" rowspan="2">指示者</th>
  </tr>
  <tr>
    <th class="tg-c0l1">時</th>
    <th class="tg-c0l1">分</th>
    <th class="tg-c0l1"></th>
    <th class="tg-c0l1">時</th>
    <th class="tg-c0l1">分</th>
    <th class="tg-c0l1"></th>
  </tr>
  
  <% (@first_day..@end_day).each do |d| %>
  <% youbi = %w[日 月 火 水 木 金 土][d.wday] %>

  <tr>
    <td class="tg-dorl"><%= d.month %>/<%= d.day%></td>
    <td class="tg-dorl"><%= youbi %></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
    <td class="tg-dorl"></td>
  </tr>
  <% end %>
  <tr>
    <td class="tg-tjwp" colspan="2"></td>
    <td class="tg-tjwp" colspan="6"></td>
    <td class="tg-tjwp">0.00</td>
    <td class="tg-tjwp"></td>
    <td class="tg-tjwp"></td>
    <td class="tg-tjwp">所属長承認</td>
  </tr>
</table>