<footer class="footer">
  <small>
    This Attendance Table System made by 
    <a href="https://sk-portfolio-201711.herokuapp.com/" target="_blank" style="color: mediumblue;">
    Soichi Kamiya</a>
  </small>
</footer>